body {
  overflow: hidden;
  position: relative;
}


img {
  width: 821px;
  height: auto;
}

canvas {
  position: absolute;
  top: 160px;
  right: 89.5px;
}

div.full-game {
  margin:0;
  width:800px;
  background-color: black;
  height: 730px;

  position: absolute;
  right: 25%;
  
}
div.control-instructions {
  background: url('images/control_instructions.png')no-repeat;
  left: -162px;
  top: 82px;
  transform: rotate(-5deg);
}

div.start-instructions {
  background: url('images/start_instructions.png')no-repeat;
  left: -180px;
  top: 368px;
  transform: rotate(5deg);
}

div.score-rules {
  background: url('images/score_rules.png')no-repeat;
  right: -190px;
  top: 230px;
  transform: rotate(7deg);
}

#win-left {
  background: url('images/win.png')no-repeat;
  position:absolute;
  background-size: contain;
  height: 40px;
  width: 200px;
  z-index: 1;
  top: 248px;
  left: 226px;
}

#win-right {
  background: url('images/win.png')no-repeat;
  position:absolute;
  background-size: contain;
  height: 40px;
  width: 200px;
  z-index: 1;
  top: 248px;
  right: 117px;
}


#play-again {
  background: url('images/playagain.png')no-repeat;
  position:absolute;
  background-size: contain;
  height: 20px;
  width: 200px;
  z-index: 1;
  cursor: pointer;
  bottom: 248px;
  left: 226px;
}
div.invisible {
  visibility: hidden;
}
div.visible {
  visibility: visible;
}
div.mute-button {
  background: url('images/unmuted.png')no-repeat;
  position:absolute;
  background-size: contain;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
  right: 33px;
  top: 10px;
}

.mute-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px
}

div.control-instructions, div.start-instructions, div.score-rules {
  position:absolute;
  background-size: contain;
  width: 200px;
  height: 200px;
  z-index: 1;
}


html {
  background: url('images/background_wood.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: 1000;
}
